

.hand{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hand div{
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000;
}

.seconds{
	height: 40%;
	width: 1px;
}

.minutes{
	height: 38%;
	width: 4px;
	border-radius: 2px;
}

.hours{
	height: 28%;
	width: 8px;
	border-radius: 4px;
}