@use 'src/styles/_variables.scss' as *;

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.clock{
  width: #{2 * $clockRadius };
  height: #{2 * $clockRadius };
  position: relative;
  box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
                inset 4px 4px 10px rgba(0,0,0,0.5),
                inset -4px -4px 10px rgba(67,67,67,0.5),
                4px 4px 10px rgba(0,0,0,0.3);
  border-radius: 50%;
}

.dot{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: calc($clockRadius / 10);
  height: calc($clockRadius / 10);
  border-radius: 50%;
  background-color: #4d4b63;
  z-index: 10;
}

.circle-halves{
  position: absolute;
}

.numbers{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	padding: 18px;
}

.numbers:after{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 5px;
	height: 15px;
	background-color: #79f7d8;
}

.numbers div{
	color: #ffffff;
}

@for $n from 1 through 11 { // excluding the last one - 12
	.numbers:nth-child(#{$n}){
		transform: rotate(#{$n*30deg});
	}
	.numbers:nth-child(#{$n}) div{
		transform: rotate(-#{$n*30deg});
	}
}
